.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper:after {
  content: '';
  display: block;
  padding-top: 100%;
}

.wrapper img {
  width: auto;
  height: 100%;
  max-width: none;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.card-text-height, .card-text-weight, .card-text-base_experience  {
  border: 2px solid black;
  background-color: lightblue;
  color: green;

}
.card {
  overflow: hidden;
  border: 0px solid;
  box-shadow: 5px;
  background-color: lightgoldenrodyellow;
}